In [22]:
import os 
import csv
import pandas as pd 
import numpy as np

In [23]:
bachelor = pd.read_csv("bachelor-contestants.csv", encoding = "ISO-8859-1")
bachelor.head()

,Name,Age,Occupation,Hometown,State or Country,Height (in),ElimWeek,Season,Weight,Brunette
0,Amanda Marsh,23,Event Planner,Chanute,Kansas,65.0,1,1,91,2
1,Trista Rehn,29,Miami Heat Dancer,Miami,Florida,66.0,6,1,104,1
2,Shannon Oliver,24,Financial Management Consultant,Dallas,Texas,64.0,5,1,156,2
3,Kim,24,Nanny,Tempe,Arizona,61.0,4,1,116,3
4,Cathy Grimes,22,Graduate Student,Terra Haute,Indiana,66.0,3,1,112,2

In [24]:
X = bachelor.drop("ElimWeek", axis=1)
y = bachelor["ElimWeek"]
print(X.shape, y.shape)

(423, 9) (423,)

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)

encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)


# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

ValueError: could not convert string to float: 'Nebraska'

In [ ]:
# linear regression /// y value = ElimwWeek