In [3]:
import os 
import csv
import pandas as pd 
import numpy as np

In [4]:
bachelor = pd.read_csv("bachelorette-contestants.csv", encoding = "ISO-8859-1")
bachelor.head()

,Name,Age,Occupation,Hometown,State or Country,Elim Week,Season,Height,Weight,Hair,EyeColor,Pushups,Pullups
0,Billy,28,Firefighter,Hermosa Beach,California,1,1,78,218,4,2,99,78
1,Brian K.,31,Breast Implant Sales,San Francisco,California,1,1,73,177,4,2,91,149
2,Chris,35,V.P. of Auto Parts Company,Sugarloaf,Pennsylvania,1,1,78,225,4,3,93,116
3,Duane,28,Flight Instructor,Chisago City,Minnesota,1,1,70,167,2,1,98,88
4,Eric,33,Commercial Pilot,St. Louis,Missouri,1,1,69,181,1,2,98,90

In [6]:
X = bachelor.drop("Elim Week", axis=1)
y = bachelor["Elim Week"]
print(X.shape, y.shape)

(267, 12) (267,)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)

encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)


# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

/Users/jasonsubbie/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

ValueError: could not convert string to float: ' Texas'

In [ ]:
# linear regression /// y value = ElimwWeek